/* Style de base du bouton */
.custom-button {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style au survol (hover) */
.custom-button:hover {
    background-color: #2980b9;
}
